@import "colors";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@mixin myfont {
    font-family: 'Lato', sans-serif;
    color: $text;
    margin: 0;
}

$body-text: 'Lato', sans-serif;

