---
layout: default
---

 {% for post in site.posts %}

  <a href="{{ post.url }}"></a>
  <!-- style="{% if post.url == page.url %} 
  color: red; 
  {% else %}
  color: green;
   
  {% endif %}" -->
  <li>{{ post.title }}</li></a>

{% endfor %}

<h1>Exercício Conditionals</h1>

{% if page.author == "Kevin" %}
This was written by Kevin!

{% elsif page.author == "John" %}
This was written by John!

{% else %}
This was written by Someone!

{% endif %}

<br> 
<br>

{% include image.html %}

{{content}}

<h2>Linguagens e Tecnologias</h2>
<p>FBAUL</p>

{% include nav-socialmedia.html %}
